<%= form_with( model: [ article, Comment.new ], class: 'pure-form pure-form-stacked') do |form| %>
 
<fieldset> 
  <div class="pure-g">
    <p>Your comment:</p>
    <div class="pure-u-1 pure-u-md-1-3">
      <%= form.text_area :content, class: "pure-u-23-24",size: "20x5" %>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pure-controls">
        <%= form.submit 'Post comments', class: 'pure-button pure-button-primary' %>
      </div>
    </div>
</div>
</fieldset>
<% end %>
