<h1 class="text-3xl md:text-5xl mb-4 font-extrabold" id="home">
  Ultimas postagens
</h1>

<p id="notice" class="py-2 text-xl"><%= notice %></p>



<div id="articles">
  <%= render @articles %>
</div>


<%= link_to "New article", new_article_path, class: 'rounded-md bg-indigo-600 px-3 py-2 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>

