<div class="space-y-12">
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-base font-semibold leading-7 text-gray-900">
      Articles
    </h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">
       cadastrar articulos
    </p>
    <div class="mt-10 content-around">

      <%= render "form", article: @article %>

      <br>

    </div>
  </div>
</div>