<h1 class="text-3xl md:text-5xl mb-4 font-extrabold" id="home">
  Bem - Vindo ao Microblog Dev-pantaneiro
</h1>
<p class="py-2 text-xl">

  Tecnologia / <span class="font-bold"> Rock </span> / <span class="font-bold"> Futbol </span>
  content area, and <span class="font-bold">e muito ROR </span>.
</p>

<p class="py-2 text-xl">
  Primeira comunidade rails do mato grosso do sul
  independente.
  <a class="text-indigo-600" href="/">#DevPantaneiro</a>
</p>

<%= link_to "Articles", articles_path %>